{
    auto_https off
    auto_https disable_redirects
}

# Sunrise
http://b.{$WEB_DOMAIN},
http://c.{$WEB_DOMAIN},
http://cho.{$WEB_DOMAIN},
http://c4.{$WEB_DOMAIN},
http://a.{$WEB_DOMAIN},
http://api.{$WEB_DOMAIN},
http://osu.{$WEB_DOMAIN},
http://assets.{$WEB_DOMAIN} {
    reverse_proxy sunrise-server:5147 {
        header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
        header_up X-Real-IP {http.request.header.CF-Connecting-IP}
    }
}

# Sunset
http://{$WEB_DOMAIN} {
    reverse_proxy sunset-website:3000 {
        header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
        header_up X-Real-IP {http.request.header.CF-Connecting-IP}
    }
}

# Grafana - Statistics Dashboard
# http://grafana.{$WEB_DOMAIN} {
#    reverse_proxy grafana:3000
# }

# # Observatory
# http://observatory.{$WEB_DOMAIN} {
#    reverse_proxy observatory:3000 {
#         header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
#         header_up X-Real-IP {http.request.header.CF-Connecting-IP}
#    }
# }

# # Uptime Kuma
# http://uptime.{$WEB_DOMAIN} {
#    reverse_proxy uptime-kuma:3001
# }